<h1>Welcome to Web CityPairs API demo page!</h1>

<p> current supported APIs </p>

<ul>
  <li>/v0/citypairs/airfares<li>
</ul>
<pre>
example: '/v0/citypairs/airfares?award_year=2015&origin_airport_abbrev=abq&destination_airport_abbrev=BWI'
</pre>