<h1>Welcome to Web CityPairs API demo page!</h1>

<p> current supported APIs </p>

<ul>
  <li>/travel/citypairs/v0/airfares<li>
</ul>
<pre>
example: '/travel/citypairs/v0/airfares?award_year=2015&origin_airport_abbrev=abq&destination_airport_abbrev=BWI'
</pre>